<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>

<!-- TO DO 14 works! -->


<div>
  <form [formGroup]="registerForm" (ngSubmit)="savePost()" class="mi-formulario">
    <div>
      <label for="title">Nombre:</label>
      <input type="text" formControlName="title" id="title">
      <div *ngIf="registerForm.get('title')?.touched">
        <span *ngIf="registerForm.get('title')?.errors?.required" class="error">El titulo es requerido.</span>
        <span *ngIf="registerForm.get('title')?.errors?.maxlength" class="error">No se puede agregar mas de 55 caracteres</span>
      </div>
    </div>
    <div>
      <label for="description">Primer Apellido:</label>
      <input type="text" formControlName="description" id="description">
      <div *ngIf="registerForm.get('description')?.touched">
        <span *ngIf="registerForm.get('description')?.errors?.required" class="error">Una descripcion es
          necesaria</span>
        <span *ngIf="registerForm.get('description')?.errors?.maxlength" class="error">No se permiten mas de 255
          caracteres</span>
      </div>
    </div>

    <div>
      <label for="publication_date">Fecha</label>
      <input type="date" formControlName="publication_date" id="publication_date">
      <div *ngIf="registerForm.get('publication_date')?.touched">
        <span *ngIf="registerForm.get('publication_date')?.errors?.required" class="error">La fecha es obligatoria</span>
      </div>
    </div>

    <div class="">
      <label for="categories">Categorias</label>
      <select name="" id="" formControlName="categories" multiple>
        <option *ngFor="let categoria of categoryList" [value]="categoria.categoryId">{{ categoria.title }}</option>
      </select>
      
      <div *ngIf="registerForm.get('categories')?.touched">
        <span *ngIf="registerForm.get('categories')?.errors?.required" class="error">Seleccionar las categorias es obligatorio</span>
      </div>
    </div>


    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
  </form>

</div>