<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback">a</p>
</div>
<div>
  <h1>Login</h1>




  <!-- TO DO 21 works! -->
  <div class="">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="mi-formulario">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">

        <div *ngIf="loginForm.get('email')?.touched">
          <span *ngIf="loginForm.get('email')?.errors?.required" class="error">El nombre es requerido.</span>
          <span *ngIf="loginForm.get('email')?.errors?.email" class="error">El formato tiene que ser en email.</span>
        </div>
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password">

        <div *ngIf="loginForm.get('password')?.touched">
          <span *ngIf="loginForm.get('password')?.errors?.required" class="error">El password es requerido.</span>
          <span *ngIf="loginForm.get('password')?.errors?.minlength" class="error">Minimo 8 caracteres.</span>
          <span *ngIf="loginForm.get('password')?.errors?.maxlength" class="error">Maximo 16 caracteres.</span>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Enviar</button>
    </form>
  </div>
</div>