<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback">a</p>
</div>
<div>
  <h1>Login</h1>



  
  <!-- TODO 21 -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  
    <label for="password">Contraseña:</label>
    <input type="password" id="password" formControlName="password">
  
    <button type="submit" [disabled]="loginForm.invalid">Enviar</button>
  </form>
</div>
